.Cadastro {
  display: grid;
  padding: 5vh 0;
  justify-items: center;
}

.Cadastro h1 {
  padding-bottom: 1vh;
}

.Cadastro h2 {
  padding-bottom: 1vh;
}

.Cadastro select {
  height: 4vh;
  padding: 1vh 5vw;
  font-size: 1.2em;
  border-radius: 5px;
}
