.Colab {
  padding: 5vh 0vw;
}

.Colab form {
  display: grid;
  justify-items: center;
  border: 1px solid;
  border-radius: 10px;
  padding: 2vh;
  background-color: aliceblue;
}

.Colab span {
  padding-top: 1vh;
}

.Colab input {
  border: 2px solid black;
  border-radius: 5px;
  height: 3.5vh;
  width: 18vw;
  text-align: center;
}

.Colab button {
  width: 18vw;
  height: 5vh;
  background-color: #ffb411;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 5vh;
  cursor: pointer;
}

.Colab button:hover {

}

/* Remove as setas para todos os navegadores baseados em Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}