.footer-container {
  background-color: #0000003a;
  height: 7vh;
  display: grid;
  align-content: center;
  justify-items: center;
  color: white;
  backdrop-filter: blur(10px);
  font-size: 0.7em;
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: center;
}
