li {
  list-style-type: none;
}

.Nav-img {
  height: 5vh;
}

.Nav-div {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.Nav-div-link {
  padding: 1vw;
  list-style-type: none;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.Nav-div-link:hover {
  color: #fcd434;
}

.Nav-div-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fcd434;
  transition: all 0.3s ease-out;
}

.Nav-div-link:hover::after {
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0;
}

nav {
  padding: 0.1vh;
  background-color: #0000003a;
}
